.userlist-content {
    border-top: 1px solid var(--gray-color);
    background: var(--gray-color-light);
	text-align: center;
    width: auto;
    overflow: auto;
    box-sizing: border-box;
    width: 100%;
}

.userlist-element{
    color:rgba(40, 167, 69,1) !important;
    margin:0;
    padding: 4px 6px;
    border-bottom: 1px solid var(--gray-color);
    border-left: 1px solid var(--gray-color);
    border-right: 1px solid var(--gray-color);
    transition: all 0.2s ease;
}

.userlist-element:hover{
    background: var(--primary-color-dark);
    color:white !important;
}