/*COLORS*/
html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    overflow: hidden;
}
body{
    height:100%; /* force the BODY element to match the height of the HTML element */
    display: flex;
    flex-direction: column;
}

:root{
    --primary-color: #00c853;
    --primary-color-light: #5efc82;
    --primary-color-dark: #009624;

    --secondary-color: #ff8f00;
    --secondary-color-light: #ffc046;
    --secondary-color-dark: #c56000;

    --gray-color-light: #f8f8f8;
    --gray-color: #c0c0c0;

    --color-text: white;

}

/*RESPONSIVE*/
.mobile-only-visible{
    display: block;
}

.desktop-only-visible{
    display: none;
}

@media only screen and (min-width: 768px){
    .mobile-only-visible{
        display: none;
    }

    .desktop-only-visible{
        display: block;
    }

}

/*MOUSE HOVER*/
.mouse-hover:hover{
    cursor: pointer;
}

/*STYLE ALL APP IN USER VIEW*/
.app-wrapper{
	display: flex;
	flex-direction: column;
	margin: 0;
	min-height: 100vh;
}

/*NO OUTLINE*/
:focus,
:active:focus,
.active:focus,
.focus,
:active.focus,
.active.focus{
    outline: none !important;
}
